* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.app-container {
  background-color: #f1f5f9;
  min-height: 100vh;
  padding: 5px 10px 5px 10px;
}
.responsive-home-container {
  background-color: #ffffff;
  border-radius: 30px;
  width: 100%;
  display: flex;
}
.side-bar-container {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  width: 60px;
  padding-top: 20px;
  padding-bottom: 0px;
  border-top-left-radius: 30px;
}
.top-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  padding-top: 0px;
}
.image-search-container {
  padding-left: 20px;
  padding-top: 0px;
}
.butterfly-image {
  height: 30px;
  width: 30px;
  margin-left: 8px;
}
.button {
  background-color: transparent;
  border: none;
  margin-top: 15px;
}
.icon {
  color: #94a3b8;
  margin: 5px;
}
.active-icon {
  color: #ffffff;
}
.feature-container {
  padding: 20px;
  list-style-type: none;
}

.active-button {
  background-color: #4f46e5;
  border-radius: 10px;
  text-align: center;
}
.bottom-container {
  padding: 10px;
  padding-bottom: 5px;
}

.profile-container {
  background-color: #f1f5f9;
  padding: 30px;
  font-family: 'Roboto';
  width: 300px;
}
.profile-pic-details-container {
  display: flex;
  align-items: center;
}
.profile-img {
  height: 75px;
  width: 75px;
}

.profile-details-container {
  margin-left: 10px;
}
.profile-name {
  font-size: 30px;
  font-weight: 600;
  margin: 0px;
}
.greeting {
  margin: 0px;
  font-size: 12px;
}
.account-container {
  margin-top: 40px;
}

.today-heading {
  font-size: 15px;
  font-weight: 500;
}
.balance-amount {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 0px;
}
.account-text {
  font-size: 11px;
  line-height: 10px;
}
.contribution-mobile-text {
  display: block;
}
.contributions-amount {
  font-size: 15px;
  font-weight: 700;
  margin-bottom: 0px;
}
.interest-amount {
  font-size: 15px;
  font-weight: 700;
  margin-bottom: 0px;
}

.account-option {
  background-color: #4f46e5;
  padding: 12px 25px 12px 25px;
  border-radius: 8px;
  border: none;
  color: #ffffff;
  font-size: 11px;
  font-weight: 400;
  text-align: center;
  margin-top: 10px;
}
.triangle {
  padding: 1px;
}
.recent-transactions-container {
  margin-top: 50px;
  background-color: #f1f5f9;
  border-radius: 10px;
}
.transactions-heading {
  font-size: 15px;
  font-weight: 500;
}
.transaction-details-container {
  margin-top: 25px;
  border-bottom: 1px solid #e2e8f0;
  padding: 1px;
}
.transaction-date {
  margin-bottom: 0px;
  font-size: 12px;
}
.transaction-text {
  line-height: 10px;
  font-size: 13px;
  font-weight: 500;
}

.retirement-income-container {
  background-color: #ffffff;
  font-family: 'Roboto';
  padding-top: 40px;
  padding-left: 60px;
  width: 45%;
}
.retirement-title {
  font-size: 14px;
  color: #4f46e5;
  font-weight: 600;
}
.retirement-heading {
  font-size: 20px;
}
.goals-container {
  display: flex;
}
.goals-details-container {
  padding: 5px;
  margin-right: 30px;
  min-width: 130px;
}
.percent-income-view {
  display: flex;
}
.hr-line {
  color: #4f46e5;
  border: 1px solid #4f46e5;
  width: 100%;
}
.goals-income {
  margin-bottom: 0px;
  font-size: 23px;
  font-weight: 600;
}
.goals-text {
  margin-top: 0px;
  line-height: 23px;
  font-size: 11px;
  margin-bottom: 0px;
}
.contribution-container {
  margin-top: 30px;
}
.contribution-heading {
  font-size: 16px;
}
.tag-container {
  display: flex;
}
.tag {
  display: flex;
  align-items: center;
}

.empty1 {
  background-color: #36318f;
  padding: 0px 8px 8px 5px;
  border-radius: 8px;
  margin-right: 8px;
}
.empty2 {
  background-color: #4f46e5;
  padding: 0px 8px 8px 5px;
  border-radius: 8px;

  margin-left: 20px;
}
.empty3 {
  background-color: #a29fd6;
  padding: 0px 8px 8px 5px;
  border-radius: 8px;

  margin-left: 20px;
}
.box {
  display: flex;
  margin-right: 10px;
}
.tag-para {
  font-size: 13px;
}
.tag-heading {
  font-size: 16px;
  margin-left: 10px;
}

.bar-chart {
  margin-top: 50px;
  padding-left: 0px;
  margin-left: 0px;
}
.goal-achievement-container {
  margin-top: 30px;
}
.peers-heading {
  font-size: 16px;
  font-weight: 500;
}
.peers-text {
  font-size: 11px;
}
.comparison-container {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
.details-Container {
  margin-top: 30px;
}
.container {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #cccccc;
}
.select-container {
  height: 30px;
  border: none;
  margin-left: 5px;
  font-size: 12px;
  max-width: 80px;
  width: 60%;
}
.compare-text {
  font-size: 12px;
}
.radial-percentage {
  display: flex;
}
.radial-box {
  width: 70px;
  margin: 20px;
  margin-bottom: 0px;
}
.radial-title {
  margin: 20px;
  font-size: 12px;
  line-height: 30px;
  margin-top: 0px;
  text-align: center;
}

.retirement-strategy-container {
  padding: 30px;
  width: 25%;
  margin-left: 50px;
  margin-top: 40px;
}
.strategy-container {
  background-color: #f1f5f9;
  border-radius: 8px;
  padding: 20px;
  padding-bottom: 30px;
}
.retirement-heading {
  font-size: 20px;
}
.contribution-text {
  font-size: 14px;
  font-weight: 500;
}
.input-container {
  max-width: 300px;
}
.input-text {
  width: 85%;
}
.horizontal-line {
  border: 1px solid #e2e8f0;
}
.subtext-container {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 0px;
}
.strategy-subtext {
  font-size: 14px;
  font-weight: 500;
  margin: 0px;
}
.button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.update-btn {
  background-color: #4f46e5;
  max-width: 180px;
  width: 100%;
  padding: 12px;
  color: #ffffff;
  border: none;
  border-radius: 10px;
}
.view-docs {
  margin-top: 20px;
  font-size: 12px;
  font-weight: 700;
}
.question-container {
  margin-top: 50px;
  border-left: 2px solid #4f46e5;
  padding-left: 10px;
  padding-bottom: 10px;
}
.question-heading {
  font-family: 'Roboto';
  font-size: 16px;
}
.question {
  font-weight: 600;
}
.question-text {
  font-size: 13px;
}
.mobile-view-icons {
  display: none;
}
.bell-icon-mobile-view-container {
  display: none;
}
@media screen and (max-width: 576px) {
  .responsive-home-container {
    display: flex;
    flex-direction: column;
    padding-bottom: 60px;
  }
  .side-bar-container {
    display: none;
  }
  .bell-icon-mobile-view-container {
    display: flex;
    justify-content: flex-end;
  }
  .profile-container {
    background-color: #ffffff;
  }
  .profile-img {
    height: 65px;
    width: 65px;
  }
  .profile-name {
    font-size: 25px;
  }

  .account-container {
    background-color: #f1f5f9;
    border-radius: 10px;
    padding-top: 15px;
    padding-bottom: 30px;
    padding-left: 20px;
  }
  .today-heading {
    margin-bottom: 0px;
    font-size: 13px;
  }
  .balance-amount {
    margin-top: 0px;
    line-height: 40px;
    font-size: 30px;
  }
  .balance-contribution-text {
    display: none;
  }
  .contribution-mobile-text {
    font-size: 11px;
  }
  .contribution-interest-container {
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 20px;
  }
  .account-option {
    width: 350px;
    max-width: 90%;
  }
  .recent-transactions-container {
    padding-top: 30px;
    padding-top: 15px;
    padding-left: 15px;
    padding-bottom: 15px;
  }
  .retirement-income-container {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
  }
  .retirement-title {
    width: 350px;
    margin-bottom: 0px;
  }
  .retirement-heading {
    width: 350px;
    margin-top: 0px;
    line-height: 30px;
  }
  .goals-container {
    display: flex;
    flex-direction: column;
  }
  .goal-mobile-view {
    width: 280px;
  }
  .percent-income-view {
    display: flex;
    margin-right: 10px;
  }
  .contribution-heading {
    width: 350px;
    font-weight: 500;
    font-size: 15px;
  }
  .tag-container {
    display: flex;
    flex-direction: row;
    width: 350px;
  }
  .tag {
    display: flex;
    flex-direction: column;
    margin-left: 0px;
    margin-top: 10px;
    padding-right: 20px;
  }
  .box {
    margin-left: 0px;
  }
  .empty1 {
    margin-right: 35px;
  }
  .empty2 {
    margin-right: 40px;
  }
  .empty3 {
    margin-right: 55px;
  }
  .tag-para {
    font-size: 11px;
    margin-bottom: 0px;
  }
  .tag-heading {
    font-size: 14px;
    margin-top: 0px;
    line-height: 25px;
  }
  .bar-chart {
    width: 250px;
  }
  .peers-heading {
    width: 350px;
  }
  .peers-text {
    width: 350px;
  }
  .comparison-container {
    display: flex;
    flex-direction: column;
  }
  .details-container {
    width: 280px;
    margin-left: 0px;
  }
  .container {
    display: flex;
    justify-content: flex-start;
  }
  .compare-text {
    padding-right: 30px;
  }
  .radial-box {
    width: 60px;
  }
  .retirement-strategy-container {
    margin-left: 0px;
    padding-left: 0px;
    margin-top: 0px;
    padding-bottom: 0px;
  }
  .strategy-container {
    background-color: #f1f5f9;
    width: 300px;
    margin-left: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
  }
  .retirement-heading {
    font-size: 18px;
    margin-left: 10px;
  }
  .contribution-text {
    margin-left: 10px;
  }
  .input-container {
    margin-left: 10px;
  }
  .input-text {
    height: 3px;
  }

  .subtext-container {
    margin-top: 10px;
    padding-top: 0px;
    margin-left: 10px;
  }
  .button-container {
    margin-left: 0px;
    padding-left: 0px;
    width: 300px;
  }
  .update-btn {
    max-width: 100%;
    margin-left: 0px;
    padding-left: 0px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }
  .view-docs {
    display: none;
  }
  .question-container {
    display: none;
  }
  .nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #ffffff;
    height: 55px;
    padding: 10px;
  }
  .mobile-view-icons {
    display: flex;
  }
  .icon-button {
    border: none;
    background-color: #ffffff;
    margin-right: 30px;
    margin-bottom: 10px;
  }
  .active-icon {
    background-color: #4f46e5;
    margin: 10px;
    border-radius: 10px;
  }

  .icon {
    height: 28px;
    width: 28px;
  }
}
